@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Layout */
header, main, footer {
    width: 100%;
}

.main-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6, strong {
    color: black;
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: darkgray;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: goldenrod;
}

/* Titles */
.section-tittle {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-tittle {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: darkgray;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-tittle::before {
    content: "";
    width: 30px;
    height: 1px;
    background: darkgrey;
    position: absolute;
    left: 0;
    top: 50%;
}

/* Grid Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav ul li {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: black;
}

/* Hero Section */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span {
    color: darkgoldenrod;
}

.hero-right {
    display: flex;
    justify-content: center;
}

.hero-right img {
    width: 95%;
}

/* Contact Section */
#contact {
    padding: 4rem 0;
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
    width: 92.5%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: blanchedalmond;
    border: 1px solid magenta;
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: gray;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid gray;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: yellowgreen;
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: greenyellow;
}

/* Contact Icons */
.contact-item-icon {
    background: blanchedalmond;
    width: 25px;
    height: 25px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Service Section */
#services {
    background-color: whitesmoke;
    padding: 6rem 0;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background-color: #f0f8ff;
    border-radius: 0.7rem;
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background-color: blanchedalmond;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

/* Portfolio Section */
#portfolio {
    background-color: white;
    padding: 3rem 2rem;
}

.portfolio {
    border-radius: 0.7rem;
    overflow: hidden;
    border: 2px solid whitesmoke;
}

.portfolio-cover {
    height: 250px;
}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    padding: 2rem 1.5rem;
}

.portfolio-tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio-tags div {
    font-size: 0.9rem;
    border: 1px solid darkgray;
    padding: 0.4rem 1rem;
}

.portfolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.portfolio-tittle a svg:hover {
    fill: green;
}

/* Footer Section */
footer {
    padding: 4rem 0;
    background: whitesmoke;
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0.5rem;
}

.footer-icons svg {
    fill: #3e3f40;
}

.footer-icons a:hover svg {
    fill: white;
}
